body {
    background: #000000;
    color: #00ff66;
    font-family: "Courier New", monospace;
    padding: 20px;
    font-size: 18px;
}

.terminal {
    max-width: 800px;
    margin: auto;
    border: 2px solid #00ff66;
    padding: 25px;
    border-radius: 10px;
    background: #000000;
    box-shadow: 0 0 25px #00ff33;
}

h1, h2 {
    color: #00ff66;
    margin-bottom: 10px;
}

.output {
    margin-left: 20px;
    margin-bottom: 25px;
}

.list li {
    margin: 6px 0;
}

a {
    color: #00ffaa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Images Section */
.images {
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

.images img {
    width: 180px;
    border: 2px solid #00ff66;
    border-radius: 5px;
}
